@import "tailwindcss";

@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TRIALSagace";
  src: url("/fonts/TRIALSagaceBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "TRIALSagace", sans-serif;
}

@theme {
  --color-primary: #151515;
  --color-light: #F8FBFF;
  --color-sky: #B0DDFE;
  --color-ivory: #FFFBF6;
  --color-deep-blue: #335A83;
  --color-orange: #FF9800;
}