<section
  id="clients"
  class="w-full h-full flex justify-center items-center flex-col space-y-8"
>
  <h1 class="text-5xl font-black text-[#335A83] font-sagace">
    NUESTROS CLIENTES
  </h1>
  <div class="flex gap-12">
    <img alt="Client 1" />
    <img alt="Client 2" />
    <img alt="Client 3" />
  </div>
</section>
