<header class="flex justify-center items-center z-50 sticky gap-48 pt-8">
  <a href="/" id="logo">
    <img
      src="/assets/logo-header.webp"
      alt="logo"
      class="w-auto h-12 object-contain"
    />
  </a>
  <div id="menu" class="font-sagace space-x-10 text-xl text-[#335A83]">
    <a href="">Inicio</a>
    <a href="">Nosotros</a>
    <a href="">Servicios</a>
    <a href="">Acceso Clientes</a>
    <a href="">Contáctenos</a>
  </div>
  <div id="socials" class="flex gap-6">
    <a href="" id="instagram"
      ><img src="/icons/instagram-icon.svg" class="w-7 h-7" alt="" /></a
    >
    <a href="" id="whatsapp"
      ><img src="/icons/whatsapp-icon.svg" class="w-7 h-7" alt="" /></a
    >
    <a href="" id="telegram"
      ><img src="/icons/telegram-icon.svg" class="w-7 h-7" alt="" /></a
    >
    <a href="" id="facebook"
      ><img src="/icons/facebook-icon.svg" class="w-7 h-7" alt="" /></a
    >
    <a href="" id="tiktok"
      ><img src="/icons/tiktok-icon.svg" class="w-7 h-7" alt="" /></a
    >
  </div>
</header>
