<header class="flex justify-center items-center top-4 z-50 sticky">
  <div id="logo">
    <img src="/assets/logo-headerwebp" alt="logo" />
  </div>
  <div id="menu" class="font-sagace space-x-10 text-lg text-[#335A83]">
    <a href="">Inicio</a>
    <a href="">Nosotros</a>
    <a href="">Servicios</a>
    <a href="">Acceso Clientes</a>
    <a href="">Contáctenos</a>
  </div>
  <div id="socials">
    <a href="" id="instagram"><img src="" alt="" /></a>
    <a href="" id="whatsapp"><img src="" alt="" /></a>
    <a href="" id="telegram"><img src="" alt="" /></a>
    <a href="" id="facebook"><img src="" alt="" /></a>
    <a href="" id="tiktok"><img src="" alt="" /></a>
  </div>
</header>
