<section
  id="hero"
  class="w-full h-full flex justify-center items-center relative"
>
  <div class="bg-[#151515] rounded-[40px] w-full h-full justify-center flex">
    <img
      src="/assets/image-hero.webp"
      class="object-cover rounded-[40px] opacity-50 w-full h-[460px]"
      alt="
      hero"
    />
  </div>
  <div
    class="absolute inset-0 flex flex-col gap-4 font-sagace text-white justify-center items-center"
  >
    <h2 class="font-bold text-5xl w-[750px] text-center">
      Potencia tu atención al client con soluciones inteligentes
    </h2>
    <p class="font-normal text-2xl w-[800px] text-center leading-none">
      Contamos con equipos capacitados y tecnología avanzada para ofrecer
      experiencias excepcionales a tus clientes.
    </p>
    <button class="font-bold bg-[#FF9800] px-6 rounded-[10px] text-xl py-2 mt-2"
      >Contáctanos</button
    >
  </div>
</section>
