<section class="w-full h-full flex justify-center relative bg-black">
  <img
    src="/assets/image-hero.webp"
    class="w-[1185px] h-[360px] object-cover rounded-[20px] opacity-50"
    alt="hero"
  />
  <div
    class="absolute inset-0 flex flex-col gap-4 font-sagace text-white justify-center items-center"
  >
    <h2 class="font-bold text-5xl w-[750px] text-center">
      Potencia tu atención al client con soluciones inteligentes
    </h2>
    <p class="font-normal text-xl w-[780px] text-center leading-none">
      Contamos con equipos capacitados y tecnología avanzada para ofrecer
      experiencias excepcionales a tus clientes.
    </p>
    <button class="font-bold bg-[#FF9800] px-6 rounded-[10px] text-xl py-2 mt-4"
      >Contáctanos</button
    >
  </div>
</section>
